{% extends "account-base.html" %}

{% load i18n bootstrap4 %}
{% block account_page %}
    <div class="block-center">
        <form method="post" action="{% url 'edit-server' %}">
            {% csrf_token %}
            {% if not server %}
                <h3 class="block-center-heading">{% trans "Add Server" %}</h3>
            {% else %}
                <h3 class="block-center-heading">{% trans "Edit Server" %}</h3>
            {% endif %}
            {% bootstrap_form form %}
            <a class="btn" href="{% url "account-overview" %}">
                {% trans "Go Back" %}
            </a>
            <button type="submit" class="btn btn-primary">Save</button>
        </form>
    </div>
{% endblock %}