.cms-toolbar-expanded {
  body {
    padding-top: 80px;
    .navbar {
      top: 40px;
    }
  }
}

section {
  clear: both;
}
.banner-text-animate {
  font-family: "Bitstream Vera Sans Mono", Monaco, "Courier New", Courier, monospace;
}