$silver: #ccc;

/* main.scss */
$primaryBlack: #222;
$selectionBackground: #b3d4fc;
$hrColor: $silver;

$browserUpgradeForeground: $primaryBlack;
$browserUpgradeBackground: $silver;

$printBlack: #000;
$printQuoteBorderColor: #999;