.top_bar {
  width: 100%;
  //background: #14bdee;

  font-size: 14px;
  height: 40px;
  line-height: 21px;
  text-shadow: rgba(0,0,0,.01) 0 0 1px;

  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  //color: #a5a5a5;

  ul {
    margin-top: 0;
    margin-bottom: 0;
    list-style: none;
  }

  [class*='fa-'] {
    color: inherit !important;
  }

  .top_bar_container {
    width: 100%;
    height: 100%;

    .top_bar_content {
      width: 100%;
      height: 40px;

      .question {
        font-family: 'Roboto Slab', serif;
        font-size: 14px;
        color: inherit !important;
        margin-left: 0;
        height: 40px;
        line-height: 40px;
      }

      .top_bar_contact_list {
        a[href*='mailto:'] {
          color: inherit !important;
        }

        li {
          display: inline-block;
          height: 40px;
          line-height: 40px;
        }

        li i, li > div {
          display: inline-block;
          font-size: 14px;
          color: inherit !important;
        }

        li > div {
          margin-left: 1px;
        }

        li:not(:last-child) {
          margin-right: 21px;
        }
      }

      .top_bar_login {
        height: 100%;

        .login_button {
          width: 160px;
          height: 100%;
          //background: #f3f3f3;
          text-align: center;

          a {
            display: block;
            font-size: 14px;
            font-weight: 500;
            line-height: 40px;
            //color: #384158;
          }
        }
      }
    }
  }
}

.header.scrolled .top_bar {

}
