{% load i18n static bootstrap4 bolierplate cms_tags sekizai_tags cms_plugin_tags %}
<!doctype html>
<html class="no-js" lang="{% language_code %}">

<head>
    <meta charset="utf-8">
    <title>{% block title %}{{ page_title }}{% endblock %}</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% touch_icons %}

    {% bootstrap_css %}

    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    {% block css %}
    {% endblock %}
</head>
<body>
{% cms_toolbar %}
{% include "_browser_warning.html" %}

<div id="header">
    {% block header %}
        <a href="{% site_url 'home' %}">{% trans "Home" %}</a> |

        {% if user.is_authenticated %}
            {% trans "Logged in" %}: {{ user.username }}
            (<a href="{% url 'logout' %}">{% trans "Log out" %}</a> |
            <a href="{% url 'password_change' %}">{% trans "Change password" %}</a>)
        {% else %}
            <a href="{% url 'login' %}">{% trans "Log in" %}</a>
        {% endif %}
        <hr />
    {% endblock %}
</div>

<div id="content">
    {% block content %}{% endblock %}
</div>

<div id="footer">
    {% block footer %}
        <hr />
    {% endblock %}
</div>

{% include "_boilerplate_js.html" %}
{% bootstrap_javascript %}
<script src="{% static 'js/plugins.js' %}"></script>
<script src="{% static 'js/main.js' %}"></script>
{% block js %}
{% endblock %}

</body>
</html>